*{
    font-size: 15px;
}
nav{
    background-color: white;
    height: auto;
}
.navbar{
width: 100%;
height: 30vh;
background-color: white;
}
.nav-link li a{
    color: green;
}
.n-logo-link li a{
    color: green;
}

.find{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}
.find-content{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: rgb(216, 245, 178);
    gap: 20px;
}
.find-head{
    height: 15vh;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.find-head h1{
    font-size: 25px;
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: green;
}
.find-head p{
    font-weight: 600;
    margin-left: 20px;
}
.findfield-con{
    height: 10vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}
.findterminal{
    width: 20%;
    height: 7vh;
    border: none;
    border-radius: 2px;
    color: gray;
    font-size: 13px;
    margin-left: 20px;
}
.findterminal option{
    background-color: black;
    color: white;
}
.findsearch{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 7vh;
    background-color: white;
}
.findsearchinput{
    color: gray;
    font-size: 13px;
    width: 90%;
    margin-left: 10px;
    outline: none;
    border: none;
}
.findsearchIMG{
    width: 5%;
}

.DepartureArrival{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.departarival-content{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-left: 35px;
}
.departure{
    background-color: rgb(0, 66, 0);
    color: white;
    height: 7vh;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.arrival{
    background-color: rgb(241, 241, 241);
    height: 7vh;
    width: 25%;
    display: flex;  
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px;
    border-radius: 3px;
}
.findinfo{
    background-color: white;
    height: auto;
    width: 100%;
}
.flightinfo-content{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: white;
}
.arrivalinfo-content{
    background-color: white;
    height: auto;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.findtime{
    background-color: rgb(2, 107, 2);
    margin-top: 20px;
    width: 95%;
}
.findtime p{
    color: white;
}
.earlieflight{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.earlier{
    height: 8vh;
    width: 95%;
    box-shadow: 0px 0px 3px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.arrowup{
    width: 1%;
}
.flightdetials{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 20px;
}
.flightdetails-con a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 15vh;
    width: 50%;
    color: black;
    font-weight: 500;
}
.flightdetails-con{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 95%;
    box-shadow: 0px 0px 2px;
    border-radius: 3px;
}
.detailstime{
    height: 10vh;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.divide{
    height: 10vh;
    width: 1%;
    background-color: rgb(179, 176, 176);
}
.detailscountry-gateStatus{
    height: 10vh;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.countrynumber{
    display: flex;
    flex-direction: column;
}
.gatenumber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.gateclosed{
    padding: 5px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin-right: 30px;
    background-color: red;
}
.departed{
    padding: 5px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin-right: 30px;
    background-color: green;
}
.gotogate{
    padding: 5px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin-right: 30px;
    background-color: blue;
}
.detailsterminal-gatenumber-moredetails{
    height: 10vh;
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tarminal-checkin{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.gateNo{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
}
.moredetails{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.moredetails a{
    display: flex;
    width: 40%;
    color: rgb(3, 188, 3);
    font-weight: 700;
    gap: 10px;
    height: 5vh;
}
.moredetaislIMG{
    width: 8%;
}

.showmoreflight{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto
}
.moreflight{
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.moreflightbox{
    background-color: green;
    background-image: url(/img/green.jpg);
    background-position: center;
    background-size: contain;
    width: 30%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.moreflightbox p{
    font-weight: 600;
    color: white;
}

/* FAST TRACK */
.navfasttrack{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    background-color: rgb(238, 226, 226);
}
.navft-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
}
.ft-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.ft-head p{
    font-weight: 700;
    color: green;
}
.ft-head ul{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
.ft-head a{
    font-weight: 700;
    color: green;
}
.ftIMG{
    width: 10%;
    margin-left: 20px;
}
.closemenu{
    width: 5%;
}
.navft-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.navft-menu ul{
    gap: 20px;
    margin-left: 20px;
}
.navft-menu a{
    font-weight: 700;
    color: black;
}
.navft-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 16px;
}
.navft-heading p{
    font-weight: 700;
    color: green;
    font-size: 15px;
}
.fasthero{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.fastcontent{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130vh;
}
.fastImg{
    height: 80vh;
    width: 100%;
    position: absolute;
}
.fastdetails{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    justify-content: space-between;
}
.faststage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 78, 78);
    width: 100%;
    height: 20vh;
    opacity: 50%;
}
.fastinput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 78, 78);
    opacity: 80%;
    width: 100%;
    height: 20vh;
    gap: 50px;
}
.fastinfo{
    display: flex;
    flex-direction: column;
}
.fastlabel{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.fastlabel1{
    color: black;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 700;
}   
.fastfield{
    background-color: white;
    padding: 10px;
    border: none;
}
.fasttime{
    background-color: white;
    padding: 10px;
    border: none;
}
.bookfast{
    display: flex;
    height: 10vh;
    align-items: end;
}
.fastbook{
    padding: 10px;
    background-color: green;
    color: white;
    font-weight: 600;
    border: none;
}
.bookfast1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fastbook1{
    width: 90%;
}
.fast-con{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fast-content{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.fast-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.fast-info-row{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 50%;
}
.fast-info-col{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.fastfield1{
    width: 30%;
    padding: 10px;
}
.fasttime1{
    width: 30%;
    padding: 10px;
}
.fasttime2{
    width: 65%;
    padding: 10px;
}
.fasttips{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fasttips-loung{
    height: 50vh;
}
.tipshead{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 30vh;
    gap: 20px;
}
.tipshead h1{
    color: green;
    font-weight: 700;
    font-size: 25px;
}
.tipshead p{
    color: green;
    text-align: center;
}

/* BUY BUSS */
.buybus{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}
.buy{
    width: 30%;
    height: auto;
    flex-direction: column;
}
.bus{
    width: 70%;
    height: auto;
    flex-direction: column;
}
.buy-content{
    width: 90%;
    margin-left: 20px;
    background-color: gainsboro;
    border-radius: 5px;
}
.bus-content{
    width: 95%;
    background-color: whitesmoke;
}
.buyhead{
    height: 5vh;
    display: flex;
    align-items: center;
}
.buyhead h1{
    margin-left: 20px;
}
.buyitem ul{
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(205, 205, 205);
}
.buyitem{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.buyitem a{
    color: black;
}
.buyicon{
    width: 3%;
}
.businfo{
    width: 100%;
    /* background-color: darkblue; */
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.businfo1{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.businfo1 a{
    color: green;
    font-weight: 700;
}
.bigp{
    color: green;
    font-size: 25px;
    font-weight: 500;
}
.busbtn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.businfofieldrow{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.infofield{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 50%;
}
.infofield p{
    font-weight: 500;
}
.searchbtn{
    width: 100%;
    padding: 15px;
    background-image: url(/img/green.jpg);
    background-size: contain;
    background-position: center;
    border: none;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 5px 5px;
}
.pleasenote{
    background-color: gainsboro;
    height: 25vh;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pleasenote-con{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pleasenote-con span{
    font-weight: 700;
}
.FAQ{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background-color: gainsboro;
    margin-bottom: 40px;
}
.faq-con{
    display: flex;
    flex-direction: column;
}
.faq-con ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 20px;
}
.faq-con a{
    color: green;
    font-size: 17px;
    font-weight: 600;
}
.faqicon{
    width: 3%;
}

/* Airport club */
.Airportclub{
    width: 100%;
    height: auto;
}
.hero-airport{
    width: 100%;
    height: 30vh;
    background-image: url(/img/riku-lu-RISlZXiSShA-unsplash\ \(1\).jpg);
    background-position: center;
    background-size: cover; 
}
.heroairpotimg{
    height: 30vh;
    width: 100%;
    background-color: green;
    opacity: 70%;
}
.hero-head{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 75%;
    margin-left: 30px;
    gap: 5px;
}
.hero-head p a{
    color: white;
    font-weight: 500;
}
.hero-heading{
    position: absolute;
    bottom: 65%;
    margin-left: 30px;
}
.hero-heading p{
    color: white;
    font-weight: 500;
    font-size: 30px;
}
.hero-box{
    position: absolute;
    bottom: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.red{
    display: flex;
    width: 20%;
    height: 7vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    color: red;
    font-weight: 600;
}
.Blue{
    display: flex;
    width: 20%;
    height: 7vh;
    background-color: white;
    align-items: center;
    justify-content: center;
     color: blue;
    font-weight: 600;
}
.Green{
    display: flex;
    width: 20%;
    height: 7vh;
    background-color: white;
    align-items: center;
    justify-content: center;
     color: green;
    font-weight: 600;
}
.Silver{
    display: flex;
    width: 20%;
    height: 7vh;
    background-color: white;
    align-items: center;
    justify-content: center;
     color: rgb(42, 42, 42);
    font-weight: 600;
}
.airportclub-content{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.airportclub-con{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.card1{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    height: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.carddetails{
    height: auto;
    width: 70%;
}
.cardcon{
    border: 1px solid rgb(191, 191, 191);
    height: auto;
    width: 90%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}
.cardcard{
    border-bottom: 1px solid rgb(191, 191, 191);
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
}
.cardimg{
    margin-top: 30px;
    width: 70%;
    border-radius: 10px;
    margin-left: 10px;
}
.cardamout{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.cardrow{
    display: flex;
    flex-direction: column;
}
.cardrow h1{
    font-size: 30px;
}
.cardbenefit{
    border-bottom: 1px solid rgb(191, 191, 191);
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cardbenefit p{
    font-weight: 600;
    font-size: 25px;
    margin-left: 30px;
}
.cardbenefit ul{
    height: 30vh;
}
.cardbenefit ul li{
    padding: 20px;
    font-weight: 500;
    margin-left: 30px;
}
.cardmembership{
    border-bottom: 1px solid rgb(191, 191, 191);
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.cardmembership-opt{
    border: 1px solid rgb(179, 178, 178);
    height: 7vh;
    width: 90%;
    border-radius: 5px;
    background-color: transparent;
    outline-style: none;
}
.cardlearnmore{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 235, 235);
}
.learnmore-card{
    background-color: green;
    color: white;
    width: 90%;
    height: 7vh;
    border-radius: 5px;
    border:  none;
}
.carddetails-con{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carddetails-head p{
    font-weight: 600;
    font-size: 25px;
}
.personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(237, 235, 235);
    margin-top: 20px;
}
.personal-con{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
}
.personal-head{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.personal-head .ph{
    font-size: 25px;
    font-weight: 600;
    color: green;
}
.personalinput{
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgb(208, 208, 208);
    outline: none;
    border-radius: 5px;
}
.personaloption{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.checkbox{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.additional-info-head{
    height: 5vh;
    display: flex;
    align-items: center;
}
.additional-info-head p{
    font-size: 25px;
    color: green;
    font-weight: 600;
}
.additional-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.additionalinfo{
    /* background-color: RED; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.airportnews-head{
    height: 5vh;
}
.airportnews-head p{
    font-size: 25px;
    color: green;
    font-weight: 500;
}
.airportnews-things{
    margin-left: 30px;
    margin-top: 20px;
    /* gap: 10px; */
   
}
.airportnews-thingsdetails{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.chek{
    margin-top: 20px;
}
.joinnow{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: start;
    align-items: center;
}
.join-now{
    background-color: green;
    border: none;
    font-weight: 600;
    color: white;
    width: 50%;
    height: 6vh;
    border-radius: 5px;
}
/* BOOK CAR PARK */
.parkstage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 50, 1);
    width: 100%;
    height: 20vh;
    opacity: 90%;
}
.parkinputcon{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.parkinput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    opacity: 90%;
    width: 100%;
    height: 70vh;
}
.parkinfo{
    display: flex;
    flex-direction: row;
    width: 40%;
    gap: 10px;
}
.park-col{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.park-col p{
    color: white;
    font-weight: 500;
}
.park-col a{
    color: yellow;
    text-decoration: underline;
    font-weight: 500;
}
.parkfield{
    width: 100%;
    height: 8vh;
    border: none;
    border-radius: 3px;
    background-color: white;
}
.parkfield1{
    width: 100%;
    height: 8vh;
}
.parkbooknow{
    width: 100%;
    height: 8vh;
    border: none;
    background-color: rgb(1, 218, 1);
    color: white;
    margin-top: 30px;
    font-weight: 600;
}

/* select product */
.progress{
    background-color: rgb(208, 206, 206);
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.progress-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.progress-line{
    width: 90%;
    background-color: rgb(199, 199, 199);
    height: 5px;
    position: absolute;
}
.progressnumber-con{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.progress-number{
    z-index: 100;
    width: 30px;
    height: 30px;
    background-color: rgb(236, 235, 235);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -1px 1px;
    font-weight: 500;
}
.progress-number-passed{
    z-index: 100;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -1px 1px;
    font-weight: 500;
}
.progress-number-active{
    z-index: 100;
    width: 30px;
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -1px 1px;
    font-weight: 500;
}
.progresstext{
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    font-weight: 500; 
}
.changefield{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: gainsboro;
}
.changefield-con{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.changefieldrow{
    display: flex;
    flex-direction: row;
}
.changedate{
    padding: 10px;
    width: 50%;
    background-color: gainsboro;
    color: black;
}
.changetime{
    width: 50%;
    padding: 10px;
    background-color: gainsboro;
}
.changefield-info p{
    margin-bottom: 10px;
    font-weight: 600;
}
.changefield-info{
    width: 100%;
    margin-left: 50px;
}
.btn-apply{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apply{
    background-color: green;
    border: none;
    color: white;
    width: 50%;
    height: 6vh;
    border-radius: 5px;
    margin-top: 30px;
}
.selecteddate{
    height: 10vh;
    width: 100%;
    background-color: gainsboro;
    border-bottom: 1px solid rgb(209, 208, 208);
}
.selecteddate-con{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 30px;
}
.selecteddate-row{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.selecteddate-row p{
    font-weight: 600;
}
.dateandtimeselected{
    text-decoration: underline;
    color: green;
}
.selectproduct{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}
.selectproduct-con{
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.product{
    background-color: rgb(207, 207, 207);
    height: 90vh;
    width: 30%;
    box-shadow: 1px -0px 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.productIMg{
    width: 100%;
    height: 25vh;
}
.product-img{
    width: 100%;
    height: 25vh;
}
.walkImg{
    width: 20%;
}
.productMinwalk{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgb(231, 231, 231);
    gap: 20px;
}
.productMinwalk p{
    font-weight: 700;
    font-size: 20px;
    color: green;
}
.productdetials1{
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 30vh;
    margin-bottom: 20px;
}
.productdetials{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 25vh;
}
.productdetials-con{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}
.productdetials-info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.productdetials-info p{
    font-size: 18px;
}
.detailsimg{
    width: 2%;
}
.productprice{
    height: 7vh;
    align-items: center;
    display: flex;
}
.productprice h1{
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;
}
.productprice p{
    margin-left: 20px;
}
.otheroption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
}
.otheroption a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.showoption{
    background-color: green;
    color: white;
    height: 7vh;
    width: 90%;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.showoption:hover{
    background-image: url(/img/green.jpg);
    background-position: center;
    background-size: contain;
}
.showoption1{
    background-color: green;
    color: white;
    height: 5vh;
    font-size: 13px;
    width: 90%;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    display: none;
}

.showoption1:hover{
    background-image: url(/img/green.jpg);
    background-position: center;
    background-size: contain;
}
.changedateoption{
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: gainsboro;
}
.changedateoption p{
    color: green;
    font-weight: 700;
    margin-left: 15px;
}
.prod-nav{
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
}
.prodback{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.prodback p{
    font-weight: 500;
}
.prodnavImg{
    width: 5%;
}
.prod-packs{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 218, 218);
}
.prod-packs-con{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 5vh;
}
.radioinfo{
    width: 80%;
}
.prod-packs-con:hover{
    background-color: aqua;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}
.prod-packs-con p{
    font-weight: 500;
}
.radioinfo p{
    font-size: 10px;
    color: gray;
}
.prod-packs-con1{
    display: flex;
    justify-content: end;
    width: 20%;
    margin-right: 10px;
}










@media screen and (min-width: 344px) {
    
    .apply{
        height: 5vh;
        width: 100%;
    }
    .btn-apply{
        height: 5vh;
    }
    .changedate{
        width: 50%;
        height: 2.5vh;
        border: 1px solid black;
    }
    .changetime{
        width: 40%;
        height: 5vh;
    }
    .changefield{
        justify-content: center;
        align-items: center;
        height: 25vh;
    }
    .changefield-con{
        width: 90%;
        flex-direction: column;
        gap: 0px;
        height: 20vh;
    }
    .changefield-info{
        margin: 0px;
    }
    .changefield-info p{
        font-size: 13px;

    }
    .hh{
        display: none;
    }
    .productprice p{
        color: gray;
        font-size: 12px;
    } 
    .showoption{
        height: 5vh;
        font-size: 12px;
    }
    .productdetials-info p{
        font-size: 14px;
    }
    .productIMg{
        height: 20vh;
    }
    .product-img{
        height: 20vh;
    }
    .product{
        width: 99%;
        height: 75vh;
    }
    .selectproduct-con{
        flex-direction: column;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .selecteddate-con{
        margin: 0px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .progress{
        height: 10vh;
    }
    .progresstext{
        display: none;
    }
    .changefield{
        display: none;
    }
    .progress1{
        background-color: green;
    }
    .parkstage{
        height: 10vh;
        margin-bottom: 20px;
    }
    .parkstageimg{
        width: 100%;
    }
    .parktips{
        height: 20vh;
    }
    .parkcontent{
        display: none;
    }
    .bookfast1 a{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        color: green;
        text-decoration: underline;
    }
    .parkimg{
        display: none;
    }
    .parkinput{
        display: none;
    }
    .personaldetails{
        gap: 10px;
    }
    .hamburger{
        z-index: 1;
    }
    .hero-airport{
        background-image: none;
        height: 15vh;
    }
    .heroairpotimg{
        height: 15vh;
        background-color: rgb(201, 238, 146);
    }
    .hero-heading{
        top: 22%;
        margin: 0px;
        margin-left: 10px;
    }
    .hero-heading p {
        font-size: 20px;
        color: green;
    }
    .hero-head{
        display: none;
        margin: 0px;
        margin-bottom: 40px;
        margin-left: 10px;
    }
    .hero-head p a{
        color: black;
        font-size: 10px;
    }
    .hero-box{
        top: 29%;
    }
    .red{
        height: 5vh;
        background-color: ghostwhite;
    }
    .Blue{
        height: 5vh;
        background-color: ghostwhite;
    }
    .Green{
        height: 5vh;
        background-color: ghostwhite;
    }
    .Silver{
        height: 5vh;
        background-color: ghostwhite;
    }
    .airportnews-info p{
        margin-bottom: 15px;
    }
    .airportnews-head p{
        font-size: 23px;
    }
    .personaldetails{
        display: flex;
        flex-direction: column;
    }
    .carddetails-head{
        height: 10vh;
        display: flex;
        align-items: center;
    }
    .carddetails-head p{
        margin-left: 15px;
    }
    .cardbenefit{
        height: 20vh;
    }
    .cardcard{
        height: 35vh;
    }
    .carddetails{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .card{
        display: none;
    }
    .buybus{
        justify-content: center;
        align-items: center;
    }
    .buy{
        display: none;
    }
    .bus{
        width: 90%;
    }
    .field{
        width: 100%;
        display: flex;
        justify-content: start;
    }
    .businfofieldrow{
        flex-direction: column;
    }
    .pleasenote{
        height: 40vh;
    }
    .FAQ{
        height: 55vh;
    }
    .faq-con li a{
        font-size: 14px;
    }
    .faqicon{
        width: 8%;
    }
    .footer-appstore{
        display: none;
    }
    .fast-con-loung{
        margin-top: 50px;
    }
    .fasttips-loung{
        height: 30vh;
    }
    .navfasttrack{
        height: 11vh
    }
    .ft-head{
        width: 50%;
    }
    .ft-headend{
        justify-content: end;
    }
    .ft-headhide{
       display: none;
    }
    .navft-menu{
        display: none;
    }
    .closemenu{
        display: none;
    }
    .ft-head p{
        font-size: 15px
    }
    .fastcontent{
        height: 40vh;
    }
    .fast-content{
        height: 60vh;
        gap: 10px;
    }
    .fast-info-row{
        width: 100%;
        gap: 20px;
    }
    .fast-info-col{
        width: 100%;
        gap: 5px;
    }
    .fastfield1{
        width: 80%;
        margin-left: 10px;
        border: 1px solid gray;
        border-radius: 2px;
        padding: 15px;
    }
    .fasttime1{
        width: 90%;
        padding: 15px;
    }
    .fasttime11{
        width: 93%;
        margin-left: 10px;
        padding: 15px;
    }
    .fasttime2{
        margin-left: 10px;
        width: 93%;
        border: 1px solid gray;
        border-radius: 2px;
        padding: 15px;
    }
    .bookfast1{
        margin-left: -10px;
    }
    .tipshead{
        height: 40vh;
    }
    .tipshead h1{
        font-size: 15px;
    }
    .tipshead p{
        font-size: 12px;
    }
    .fastinput{
        display: none;
    }
    .fastImg{
        height: 50vh;
    }
    .faststage{
        /* background-color: transparent; */
        height: 10vh;
    }
    nav{
        height: 15vh;
    }
    .nav-menu{
        display: none;
    }
    .whitemenu{
        display: flex;
        height: 10vh;
        width: 100%;
    }
    .whitemenu-head p{
        font-size: 15px;
        font-weight: 700;
    }
    .find-head{
        height: 12vh;
    }
    .find-head h1{
        font-size: 20px;
    }
    .find-head p{
        font-size: 13px;
    }
    .findfield-con{
        flex-direction: column;
        height: 20vh;
    }
    .findterminal{
        height: 5vh;
        width: 90%;
        font-size: 10px;
    }
    .findsearch{
        width: 90%;
        margin-left: 20px;
        height: 5vh;
    }
    .findsearchinput{
        font-size: 10px;
    }

    .departarival-content{
        margin: 0px;
        margin-left: 10px;
    }
    .departure{
        width: 40%;
        height: 5vh;
    }
    .departure h1{
        font-size: 12px;
    }
    .arrival h1{
        font-size: 12px;
    }
    .arrival{
        width: 40%;
        height: 5vh;
    }
    .findtime{
        width: 100%;
        color: rgb(0, 66, 0);
    }
    .n-time p{
        font-size: 10px;
    }
    .earlieflight{
        display: none;
    }
    .earlier{
        height: 4vh;
    }
    .earlier h1{
        font-size: 13px;
    }
    .earlieflight2{
        display: flex;
        margin: 0px;
    }
    .flightdetails-con{
        display: flex;
        flex-direction: column;
    }
    .flightdetails-con a{
        width: 100%;
    }
    .detailstime{
        height: 5vh;
        align-items: start;
        margin-left: 5px;
    }
    .detailstime h1{
        font-size: 13px;
    }
    .divide{
        display: none;
    }
    .detailscountry-gateStatus{
        flex-direction: column;
        align-items: start;
        margin-left: 20px;
        gap: 10px;
        height: 7vh;
    }
    .countrynumber h1{
        font-size: 13px;
    }
    .countrynumber p{
        font-size: 10px;
    }
    .gatenumber{
        width: 100%;
    }
    .departed{
        font-size: 10px;
    }
    .gateclosed{
        font-size: 10px;
    }
    .gotogate{
        font-size: 10px;
    }
    .detailsterminal-gatenumber-moredetails{
        width: 100%;
    }
    .detailsterminal-gatenumber-moredetails a{
        height: 5vh;
        margin-left: 10px;
    }
    .gateNo{
        display: flex;
        margin-right: 10px;
    }
    .gateNo p{
        font-size: 13px;
    }
    .tarminal-checkin p{
        font-size: 12px;
    }
    .moredetails{
        display: none;
    }
    .moredetails p{
        display: none;
    }
    .moreflightbox{
        width: 90%;
        height: 5vh;
        border-radius: 3px;
    }
    .moreflightbox p{
        font-size: 13px;
    }
}
@media screen and (min-width: 360px){
    .product{
        height: 70%;
    }
    .changetime{
        height: 5.5vh;
    }
    .changefield{
        height: 30vh;
    }
    .parkstage{
        margin-top: 10px;
    }
    .personaldetails{
        gap: 10px;
    }
    .cardmembership{
        border: none;
    }
    .cardcard{
        height: 40vh;
    }
    .cardbenefit{
        height: 25vh;
    }
    .pleasenote{
        height: 45vh;
    }
    .FAQ{
        height: 70vh;
    }
    .fasttips-loung{
        height: 50vh;
    }
    .navfasttrack{
        height: 15vh;
    }
    .tipshead{
        height: 60vh;
    }
    .fast-con{
        height: 70vh;
    }
}
@media screen and (min-width: 375px){
    .changetime{
        height: 5.9vh;
    }
    .product{
        height: 80vh;
    }
    .changefield{
        height: 35vh;
    }
    .selecteddate{
        height: 15vh;
    }
    .parkstageimg{
        height: 20vh;
    }
    .parkstage{
        margin-top: -0px;
    }
    .parktips{
        height: 25vh;
        margin-top: 50px;
    }
    .hero-head{
        margin-bottom: 30px;
    }
    .personal-head{
        margin-top: 20px;
    }
    .cardcard{
        height: 45vh;
    }
    .cardbenefit{
        height: 30vh;
    }
    .FAQ{
        height: 80vh;
    }
    .navfasttrack{
        height: 15vh;
    }
    .fast-con{
        height: 70vh;
    }
    .tipshead{
        height: 60vh;
    }
}
@media screen and (min-width: 390px){
    .changetime{
        height: 5vh;
    }
    .cardcard{
        height: 35vh;
    }
    .cardbenefit{
        height: 20vh;
    }
    .pleasenote{
        height: 35vh;
    }
    .FAQ{
        height: 65vh;
    }
    .fasttips-loung{
        height: 30vh;
    }
    .fast-con{
        height: 60vh;
    }
    .tipshead{
        height: 40vh;
    }
}
@media screen and (min-width: 540px){
    .product{
        height: 80%;
        width: 60%;
    }
    .showoption{
        height: 7vh;
    }
    .walkImg{
        width: 10%;
    }
    .changefield{
        height: 40vh;
        justify-content: flex-start;
    }
    .changefield-con{
        margin-top: 20px;
        gap: 20px;
    }
    .changefield-info p{
        font-size: 15px;
    }
    .changetime{
        height: 6vh;
    }
    .apply{
        height: 6vh;
    }
    .cardcard{
        height: 55vh;
    }
    .cardbenefit{
        height: 25vh;
    }
    .FAQ{
        height: 90vh;
    }
    .navfasttrack{
        height: 15vh;
    }
    .fast-con{
        height: 70vh;
    }
    .tipshead{
        height: 40vh;
    }
}
@media screen and (min-width: 768px) {
    .showoption{
        height: 6vh;
    }
    .productIMg{
        height: 25vh;
    }
    .product-img{
        height: 25vh;
    }
    .hh{
        display: flex;
    }
    .product{
        width: 30%;
        height: 80vh;
    }
    .selectproduct-con{
        flex-direction: row;
    }
    .changetime{
        width: 100%;
        height: 7vh;
    }
    .changedate{
        width: 100%;
        height: 3.8vh;
    }
    .changedateoption{
        display: none;
    }
    .apply{
        width: 50%;
        height: 5vh;
    }
    .changefield{
        display: flex;
        height: 15vh;
    }
    .selecteddate{
        display: none;
    }
    .changefield-con{
        flex-direction: row;
        gap: 20px;
    }
    .progress{
        height: 20vh;
    }
    .progresstext{
        display: flex;
    }
    .parkstage{
        display: none;
    }
    .parkfield{
        height: 7vh;
    }
    .parkfield1{
        height: 7vh;
    }
    .parkbooknow{
        height: 7vh;
    }
    .parkinputcon{
        height: 15vh;
    }
    .parkcontent{
        display: flex;
        height: 50vh;
    }
    .parkimg{
        display: flex;
    }
    .parkinput{
        display: flex;
        height: 80vh;
    }
    .carddetails-head{
        height: 5vh;
    }
    .carddetails{
        display: flex;
        width: 70%;
        justify-content: center;
        align-items: center;
    }
    .carddetails-con{
        width: 95%;
    }
    .cardamout{
        gap: 20px;
    }
    .cardrow h1{
        font-size: 20px;
    }
    .cardcard{
        height: 25vh;
    }
    .card{
        display: flex;
    }
    .card1{
        display: none;
    }
    .cardbenefit{
        height: 20vh;
    }
    .cardbenefit p{
        margin: 0px;
        margin-left: 15px;
    }
    .cardbenefit ul li{
        gap: 0px;
        margin: 0px;
        margin-left: 15px;
        padding: 7px;
    }
    .hero-airport{
        background-image: url(/img/riku-lu-RISlZXiSShA-unsplash\ \(1\).jpg);
        height: 30vh;
    }
    .heroairpotimg{
        height: 30vh;
        background-color: rgb(201, 238, 146);
    }
    .hero-heading{
        top: 30%;
        margin: 0px;
        margin-left: 10px;
    }
    .hero-heading p {
        font-size: 30px;
    }
    .hero-head{
        display: flex;
        margin: 0px;
        margin-left: 10px;
    }
    .hero-head p a{
        color: white;
        font-size: 20px;
    }
    .hero-box{
        top: 45%;
    }
    .red{
        height: 5vh;
    }
    .Blue{
        height: 5vh;
    }
    .Green{
        height: 5vh;
    }
    .Silver{
        height: 5vh;
    }
    .FAQ{
        height: 55vh;
    }
    .faq-con li a{
        font-size: 20px;
    }
    .faqicon{
        width: 5%;
    }
    .pleasenote{
        height: 20vh;
    }
    .buybus{
        gap: 20px;
        align-items: start;
    }
    .buy{
        display: flex;
    }
    .businfofieldrow{
        flex-direction: row;
    }
    .bookfast{
        margin-bottom: 20px;
    }
    .tipshead h1{
        font-size: 20px;
    }
    .tipshead p{
        font-size: 20px;
    }
    .ss{
        display: none;
    }
    .st{
        display: none;
    }
    .tipshead{
        height: 40vh;
    }
    .navft-menu{
        display: none;
    }
    .ft-headend{
        display: none;
    }
    .ft-headhide{
        display: flex;
        justify-content: end;
    }
    .fast-con{
        display: none;
    }
    .fastcontent{
        height: 90vh;
    }
    .fastinput{
        display: flex;
        height: 15vh;
        gap: 20px;
    }
    .fastImg{
        height: 80vh;
    }
    .faststage{
        background-color: rgb(78, 78, 78);
        height: 15vh;
    }
    nav{
        height: 20vh;
    }
    .nav-menu{
        display: none;
    }
    .whitemenu{
        display: none;
    }
    .nav-link{
        height: 5vh;
    }
    .nav-logo-link{
        height: 5vh;
    }

    .find-head{
        height: 12vh;
    }
    .find-head h1{
        font-size: 25px;
    }
    .find-head p{
        font-size: 15px;
    }
    .findfield-con{
        flex-direction: row;
        height: 7vh;
    }
    .findterminal{
        height: 4vh;
        width: 50%;
        font-size: 13px;
    }
    .findsearch{
        width: 90%;
        margin-right: 10px;        
        height: 4vh;
    }
    .findsearchinput{
        font-size: 13px;
    }

    .departarival-content{
        margin-left: 30px;
    }
    .departure{
        width: 40%;
        height: 5vh;
    }
    .departure h1{
        font-size: 15px;
    }
    .arrival h1{
        font-size: 15px;
    }
    .arrival{
        width: 40%;
        height: 5vh;
    }
    .findtime{
        width: 100%;
        color: rgb(0, 66, 0);
        height: 7vh;
    }
    .n-time p{
        font-size: 20px;
    }
    .earlieflight{
        display: flex;
    }
    .earlier{
        height: 7vh;
    }
    .earlier h1{
        font-size: 20px;
    }
    .earlieflight2{
        display: flex;
        margin: 0px;
    }
    .flightdetails-con{
        display: flex;
        flex-direction: row;
    }
    .flightdetails-con a{
        width: 100%;
    }
    .detailstime{
        /* height: 5vh;
        align-items: start;
        margin-left: 5px; */
    }
    .detailstime h1{
        font-size: 13px;
    }
    .divide{
        display: none;
    }
    .detailscountry-gateStatus{
        flex-direction: row;
        /* align-items: start; */
        /* margin-left: 20px; */
        /* gap: 10px; */
        /* height: 7vh; */
    }
    .countrynumber h1{
        font-size: 20px;
    }
    .countrynumber p{
        font-size: 15px;
    }
    .gatenumber{
        justify-content: end;
        width: 100%;
    }
    .departed{
        font-size: 15px;
    }
    .gateclosed{
        font-size: 15px;
    }
    .gotogate{
        font-size: 15px;
    }
    .detailsterminal-gatenumber-moredetails{
        width: 100%;
    }
    .detailsterminal-gatenumber-moredetails a{
        width: 100%;
    }
    .gateNo{
    }
    .gateNo p{
        font-size: 15px;
    }
    .tarminal-checkin p{
        width: 100%;
        font-size: 20px;
    }
    .moredetails{
        display: flex;
        margin-right: 10px;
    }
    .moredetails p{
        display: flex;
    }
    .moreflightbox{
        width: 90%;
        height: 5vh;
        border-radius: 3px;
    }
    .moreflightbox p{
        font-size: 15px;
    }
}
@media screen and (min-width: 1280px) {
    .product{
        height: 40%;
    }
    .cardbenefit{
        height: 25vh;
    }
    .cardcard{
        height: 50vh;
    }
    .FAQ{
        height: 90vh;
    }
}